:root {
  --t-primary: #274c3b;
  --t-primary-dark: #002244;
  --t-secondary: #3b634f;
  --t-complement: #d9e6df;

  --t-background: #f8f8f8;
  --t-surface: #ffffff;
  --t-surface-alt: #eeeeee;
  --t-dark: #222222;
  --t-text-main: #333333;
  --t-text-soft: #666666;
  --t-text-muted: #999999;
  --t-border: #cccccc;

  --t-wa: #25d366;

  --t-font-serif: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --t-font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --t-background: #1a1a1a;
  --t-surface: #2c2c2c;
  --t-surface-alt: #3f3f3f;
  --t-dark: #0f0f0f;
  --t-text-main: #f0f0f0;
  --t-text-soft: #bbbbbb;
  --t-text-muted: #888888;
  --t-border: #555555;
}
